<!--Author: mtcskwsk-->
<main role="main" class="container">

    <h1>Edit Comment</h1>
    <p>Title: <%= @comment.discussion.title %></p>
    <p>Topic: <%= @comment.discussion.message %></p>

    <div style="width:50%;">
        <%= form_with model: @comment, local: true do |form| %>
            <div class="field">
                <%= form.label :message, 'Message' %>
                <%= form.text_area :message, class: 'form-control' %>
            </div>
            <div class="actions">
                <%= form.submit 'Update Comment', class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>

</main><!-- /.container -->