<!--Author: mcbrynt1-->
<h1><b><%= @book_club.name %></b></h1>

<p>Members: <%= @book_club.members %></p>
<p>Description: <%= @book_club.description %></p>
<p>Location: <%= @book_club.location %></p>
<p>Meet Date: <%= @book_club.meet_date %></p>
<p>Book ID: <%= @book_club.book_id %></p>
