
<!--Author: mcbrynt1-->
<!--Necesarry for search page-->
<% if @books.blank? %><!--if results aren't found-->
  <h4>There are no books containing the term "<%= params[:search] %>."</h4>
<%else%><!--if results are found-->
    <h4>Search Results For "<%= params[:search] %>"</h4>
<% end %>
<!--Section end-->


<!--Section Start:-->
<h1> Books </h1>


<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Rating</th>
      <th scope="col">Book ID</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.genre %></td>
            <td><%= book.rating %></td>
            <td><%= book.id %></td>
            <td><%= link_to 'Show', book_path(book) %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<!--Section end-->

<!--Section start-->
<!--Necessary for search page....if results aren't found-->
<% if @books.blank? %>
    <p> Result Not Found? Click Create </p>
    <p> <%= link_to 'Create', new_book_path, :method => :get, :class => "btn btn-primary" %></p>
<% end %>
<!--Section end-->



